<h1 class="mt-5">Selector de Encuestador</h1>
<hr>

<form   [formGroup]="miFormulario"
        (submit)="guardar()">
    <!-- Selecciona tipo de encuesta -->

    <div class="row mb-3">
        <div class="col">
            <label class="form-label" >Estado</label>
            <select class="form-control"
                    formControlName="tipoEvaluacion" >
                <option value="">Selecciona</option>
                <option *ngFor="let evalua of tipoEvaluacion">
                    {{evalua}}
                </option>
            </select>
        </div>
    </div>

    <!-- Selecciona la persona que va a realizar la evaluación-->

    <div class="row mb-3">
        <div class="col">
            <label class="form-label">Escoge la persona a ser evaluada</label>
            <select class="form-control"
                    formControlName="nombreEvaluador">
                <option value="">Selecciona la persona</option>
                <option *ngFor="let evaluado of nombreEvaluador"
                        [value]="evaluado">{{evaluado}}</option>
            </select>

        </div>
    </div>

    <!-- Agregar a persona que va a Evaluar -->

    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Agregar</label>
        <div class="col-sm-9">
            <div class="input-group">
                <input  class="form-control"
                        [formControl] = "nuevoPersonasAEvaluar"
                        placeholder="Agregar"
                        (keyup.enter)=(agregarFavorito())>
                <button class="btn btn-outline-primary"
                        type="button"
                        (click)="agregarFavorito()"
                        >
                        Agregar
                </button>

            </div>
        </div>

    </div>
    <div class="=mb-3 row">
        <label class="col-sm-3 col-form-label">Favoritos</label>
        <div    class="col-sm-9"
                formArrayName="personasAEvaluar">

            <div    class="input-group mb-1"
                    *ngFor="let favorito of personasAEvaluarArr.controls; let i = index ">
                <input  class="form-control mb-1"
                        [formControlName]="i">
                <button class="btn btn-outline-danger"
                        type="button"
                        (click)="borrar(i)">
                        Eliminar
                </button>
            </div>
            
        </div>

    </div>


    
</form>



<div class="row">
    <div class="col">
        <button type="submit"
                (click)="guardar()"
                class="btn btn-primary float-end">
            Enviar Formulario
        </button>
    </div>
</div>


<h3>Valid:</h3>
<pre>{{miFormulario.valid}}</pre>
<h3>Valor:</h3>
<pre>{{miFormulario.value|json}}</pre>